<!DOCTYPE html>
<html lang="en">
<head>
        {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main-header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                 <!-- Right side div -->
                 <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/about.png" alt="pm"  class="img-fluid" title="PM Developer">
                    </figure>
                  </div>
                <!-- Left side div -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to PM Weather App</p>
                    <h1>I am a <span class="text-color">Mern Stack Developer</span> </h1>
                    <a href="https://pmthedeveloper.github.io/PMportfollio.com/" target="_blank"><button>About me</button></a>
                </div>
                 
            </div>
            </div>
            </div>
            </div>

            <!-- Footer code -->
             {{>footer}}
</body>
</html>